.signup {
  text-align: center;

  input#signup-email.mdl-textfield__input {
    color: rgba(236, 240, 241, 0.8);
    border-bottom: 1px solid rgba(236, 240, 241, 0.8);
  }

  label.mdl-textfield__label {
    color: rgba(236, 240, 241, 0.5);
  }
}